{% extends "dashboard.html" %}
{% load static %}
{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/dashboard/">Dashboard</a></li>
<li class="active">Usage Analytics</li>
{% endblock %}
{% block dashboard_content %}
<h4>Your Usage Statistics</h4>
<div class="row">
	<div class="col-lg-5">
		<div class="panel panel-default">
			<div class="panel-heading">Consumption Today</div>
			<div class="panel-body">
				<center>
				<h1><i class="fa fa-bolt"></i> 100 kWh</h1>
				</center>
			</div>
		</div>
	</div>
	<div class="col-lg-5 col-lg-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">Consumption Total</div>
			<div class="panel-body">
				<center>
				<h1><i class="fa fa-bolt"></i> 1.02 MWh</h1>
				</center>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-11">
		<div class="panel panel-default">
			<div class="panel-heading">Consumption Graph</div>
			<div class="panel-body">
				<center>
				Lalalala
				</center>
			</div>
		</div>
	</div>
</div>
{% endblock %}