{% extends "base.html" %}
{% load static %}
{% block title %}
Agila &rarr; Dashboard
{% endblock %}
{% block body %}
<h1>Agila Dashboard</h1>
<ul class="breadcrumb">
	{% block breadcrumbs %}
	{% endblock %}
</ul>
<hr/>
<div class="row">
	<div class="col-lg-3">
		<h3>At a glance</h3>
		<div class="well">
			<strong>Your total consumption:</strong>
			<ul>
				<li><em><b>{{user_consumption_today}}</b> wH today</em></li>
				<li><em><b>{{user_consumption}}</b> all-time</em></li>
				<li><em>You are in the top {{user_percentile}}% of global consumers.</em></li>
			</ul>
			<strong>...this translates to:</strong>
			<p>Your carbon emission is enough to melt a glacier the size of an ice cube.</p>
		</div>
		<a href="/dashboard/analytics/" class="btn btn-info">View my usage analytics</a>
		<hr/>
		<h3>AppDB</h3>
		<p>Contribute to the Appliance Database (AppDB) to add a wider range of non-smart devices and track the wattages of smart ones.</p>
		<a href="/appdb/" class="btn btn-info">Submit Appliance to AppDB</a>
	</div>
	<div class="col-lg-9">
		<h3>Welcome, <b>{{user}}</b>.</h3>
		<hr/>
		{% if flash %}
		<div class="alert alert-{{flash.type}}">{{flash.message}}</div>
		{% endif %}
		{% block dashboard_content %}
		{% endblock %}
	</div>
</div>
{% endblock %}