{% extends "dashboard.html" %}
{% load static %}
{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/dashboard/">Dashboard</a></li>
<li class="active">Usage Analytics</li>
{% endblock %}
{% block dashboard_content %}
<h4>Your Usage Statistics</h4>
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	<li class="active"><a href="#personal" data-toggle="tab">Personal</a></li>
	<li class=""><a href="#community" data-toggle="tab">Community</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade active in" id="personal">
		<h4>Personal Consumption</h4>
		<div class="row">
			<div class="col-lg-5">
				<div class="panel panel-default">
					<div class="panel-heading">Consumption Today</div>
					<div class="panel-body">
						<center>
						<h1><i class="fa fa-bolt"></i> 322 wH</h1>
						</center>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-lg-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading">Consumption Total</div>
					<div class="panel-body">
						<center>
						<h1><i class="fa fa-bolt"></i> 1,414 Wh</h1>
						</center>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-11">
				<div class="panel panel-default">
					<div class="panel-heading">Consumption Graph</div>
					<div class="panel-body">
						<center>
						<div id="usage-graph-personal"></div>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="community">
		<h4>Community Consumption</h4>
		<div class="row">
			<div class="col-lg-11">
			<div class="">
			<label for="active-community" class="control-label">You are viewing this community:</label> <select name="active-community" class="form-control" id="active-community">
				{% for group in groups %}<option value="{{group.id}}">{{group.group.name}}</option>{% endfor %}
			</select>
			</div>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-lg-11">
				<div class="panel panel-default">
					<div class="panel-heading">Your Contribution to Community</div>
					<div class="panel-body">
						<center>
						<div id="community-contribution"></div>
						</center>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-11">
				<div class="panel panel-default">
					<div class="panel-heading">Your Community's Global Contribution</div>
					<div class="panel-body">
						<center>
						<div id="community-contribution-global"></div>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    var usageGraphPersonal = [{
            name: 'iPhone',
            data: [10.4, 11.5, 9.3, 12.4, 15.5, 10.2, 12.5]
        }, {
            name: 'Dell Laptop',
            data: [15.4, 18.5, 14.5, 17.0, 18.9, 12.2, 15.5]
        }, {
            name: 'Acer Desktop',
            data: [19.0, 19.2, 20.2, 16.2, 18.6, 22.2, 23.2]
    }];

    // personal analytics
    $('#usage-graph-personal').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Daily Power Consumption'
        },
        subtitle: {
            text: 'Aggregate of All Devices'
        },
        xAxis: {
            categories: [
                '6/01/2014',
                '6/02/2014',
                '6/03/2014',
                '6/04/2014',
                '6/05/2014',
                '6/06/2014',
                '6/07/2014'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Consumption (kWh)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:1f} kWh</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: usageGraphPersonal
    });

    //contribution to community
    $('#community-contribution').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: true
        },
        title: {
            text: 'Your Total Consumption Contribution to Community'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Energy Consumption Contribution',
            data: [
                ['You', 13.2],
                ['Rest of the Community', 100 - 13.2]
            ]
        }]
    });
    //community's global contribution
    $('#community-contribution-global').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: true
        },
        title: {
            text: 'Your Community\'s Global Contribution'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Energy Consumption Contribution',
            data: [
                ['Your Community', 5.2],
                ['Rest of the World', 100 - 5.2]
            ]
        }]
    });
</script>
{% endblock %}
